# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# PyInstaller
*.manifest
*.spec
dist/
build/

# PyQt
*.ui
*.qrc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Config
config.json